@model IRLuceneSearch.ViewModels.IndexViewModel
<div class="contentwrapper">
    <div>
        <div class="contentol">
        
        @if (Model.SearchIndexData != null)
        {
             <input type ="hidden" id="total" value="@Model.SearchIndexData.Count()"/>
             <input type ="hidden" id="speed" value="@Model.Speed"/>
            foreach (IRLuceneSearch.Models.Review r in Model.SearchIndexData)
            {
            <div class="post-17 post type-post status-publish format-standard hentry category-featured category-make-money category-uncategorized tag-make-money tag-test-tag"
                id="post-17">
                <h1 class="content_header">
                    <a href="http://ericulous.com/demo/2007/08/25/a-post-with-multiple-test-elements/"
                        title="@r.review_id">@r.review_id</a>
                </h1>
                <table width="100%">
                <tr>
                <td style="width:70%">
                <div class="contentbody" style="width:90%">
                    @r.text            
                </div>
                <br />
                <div>
                <span style="color:Gray; font-style:italic">Latitude: @r.business.latitude Longitude:@r.business.longitude</span>
                <span style="color:pink; font-style:italic">@r.business.full_address</span>
                </div>
                </td>
                <td valign="top">
               @* <div style="margin-left:10px;" >
                    <b>Rank</b><br /> @r.rank
                </div>  *@   
                </td>
                <td valign="top">
                <div style="">
                    <b>Rank</b><br/> @r.rank
                </div>                
                </td>                           
                <td valign="top">
                <div style="">
                    <b>Scores</b><br/> @r.scores
                </div>                
                </td>
                <td valign="top">
                <div style="">
                    <b>Doc ID</b><br/> @r.docid
                </div>                
                </td>
                </tr>
                </table>
                
            </div>
            }
        }
            <div style="clear: both">
            </div>
        </div>
    </div>
</div>
<br clear="all" />
<table id="pagenav">
    <tbody>
        <tr valign="top">

        </tr>
    </tbody>
</table>
<div class="clr">
    <br />
</div>
    <script type="text/javascript">
        $(function () {
            $(".contentbody").each(function (i) {
                len = $(this).text().length;
                if (len > 500) {
                    $(this).text($(this).text().substr(0, 500) + '...');
                }
            });
            $(".divResult").html(' &nbsp;results <b>' + $('#total').val() + '</b> (<b>' + $('#speed').val() + '</b> seconds)&nbsp;');


        });
     </script>
